body {
  font-family: "Inconsolata", monospace;
  background-color: black;
}


/* Header */
.header-bar {
  background-color: #f78888;
}

.jumbotron {
  padding: 0px;
}


.domain-form .form-group input {
  height: 70px !important;
  border: transparent;
}

.domain-form .form-group .search-domain {
  color: black;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.card-deck {
  margin-left: 0px;
  padding-left: 0px;
}

/* Current Weather Box */
.big-box {
  background-color: #f3d250;
  text-align: center;
}

/* 5 Days Forecast */
.mini-box {
  background-color: #f3d250;
  text-align: center;
  margin-top: 20px;
  min-width: 175px;
  max-width: 175px;
  margin-right: 0px;
}

.mini-box-container {
  width: 100%;
}

/* Search Box/Search Result Box */
.search-box {
  color: #f3d250;
}

.search-btn {
  background-color: #f78888;
  outline: none !important;
}

.clear-history {
  background-color: #e26d5c;
  outline: none !important;
}

.search-text-box,
.search-text-box:valid:focus {
  background-color: black;
  color: white;
}

.search-btn:hover,
.search-btn:focus,
.clear-history:hover,
.clear-history:focus {
  background-color: #f3d250;
  outline: none;
}

.search-box-btn {
  background-color: #e26d5c;
  outline: none !important;
}

.search-box-btn:hover,
.search-box-btn:focus {
  background-color: #f3d250;
  outline: none;
}

/* Media Queries */
@media (max-width: 1200px) {
  .search-box {
    text-align: center;
  }

  .result-box {
    padding-right: 0px;
  }

  .mini-box {
    max-width: unset;
  }
}
